{% extends "base.html" %} 
{% block title %} Home {% endblock %} 
{% block content %}
    {% for obj in qs %}
        <h2>{{obj.title}}</h2>
        <p>{{obj.description}}</p>
        <form action="{% url 'blog:like' %}" method="POST" class="ui form">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{obj.id}}">
            {% if user not in obj.liked.all %}
                <button class="ui button positive" type="submit">Like</button>
            {% else %}
                <button class="ui button negative">Unlike</button>
            {% endif %}
        </form>
        <strong>{{ obj.liked.all.count }} likes</strong>
    {% endfor %}
{% endblock %}
